@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
    min-height: 95vh;
    font-family: 'Rubik', sans-serif;
}

.bar {
    margin: 50px 30px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stages {
    display: flex;
    align-items: center;
}

.stages>div {
    padding: 7px;
    border: 2px solid #e63946;
    cursor: pointer;
}

table {
    width: 90%;
    margin: 30px auto;
    border: 2.5px solid rgba(206, 66, 87, 0.4);
    text-align: center;
}

thead {
    color: #06d6a0;
    font-weight: bold;
}

tr, td {
    border: 1.5px solid rgba(255, 0, 110, 0.4);
    padding: 4px;
}

a {
    display: block;
}

.newsData_img {
    width: 30px;
    height: 25px;
}

img {
    width: 100%;
    height: 100%;
    color: rgb(106, 193, 106);
}

.dropdown-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    width: 125px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    padding-right: 4px;
}

select:focus {
    outline: none;
    border-color: #0070f3;
    box-shadow: 0 0 0 2px #90cdf4;
}

option {
    color: #333;
    background-color: #fff;
}

option:hover,
option:focus {
    background-color: #0070f3;
    color: #fff;
}

h1{
    color: #118ab2;
    text-align: center;
}